<div class="flex flex-col h-screen dark:bg-slate-600">
  <nav class="flex justify-between p-4 bg-red-400 dark:bg-slate-800 text-white">
    <div>X-O</div>
    <button
      class="h-10 px-6 font-semibold rounded-md bg-slate-700 text-white dark:bg-white dark:text-black"
      (click)="toggle_theme()"
    >
      Color theme
    </button>
  </nav>

  <div class="md:container md:mx-auto font-sans flex-grow dark:text-white">
    <app-board></app-board>
  </div>

  <footer class="bg-gray-200 dark:bg-gray-800 text-center lg:text-left">
    <div
      class="text-gray-700 dark:text-white text-center p-4"
      style="background-color: rgba(0, 0, 0, 0.2)"
    >
      Built with Angular - © 2022 Copyrigh:
      <a
        class="text-gray-800 dark:text-white"
        href="https://gitlab.com/j_sauceda"
        >Jorge Sauceda</a
      >
    </div>
  </footer>
</div>
