<h1 class="mb-1">Es el turno del jugador: {{ player }}</h1>
<button
  nbButton
  outline
  class="h-10 px-6 mb-2 font-semibold rounded-md bg-red-400"
  (click)="newGame()"
>
  Nuevo Juego
</button>

<h2 class="mb-2" *ngIf="winner">Las {{ winner }} han ganado!</h2>

<div class="grid grid-rows-3 grid-cols-3 gap-1">
  <app-squares
    *ngFor="let val of squares; let i = index"
    [value]="val"
    (click)="makeMove(i)"
  >
  </app-squares>
</div>
